<%- include('partials/header.ejs') -%>
<h1>Contact</h1>
<p>You can Contact me on <span>Email: mk27982@gmail.com</span> or <span>+1(705)970-7666.</span></p>
<!-- <p> <%= content %> </p> -->
<%- include('partials/footer.ejs') -%>